.col-1-sm {width: 8.33%;}
.col-2-sm {width: 16.66%;}
.col-3-sm {width: 25%;}
.col-4-sm {width: 33.33%;}
.col-5-sm {width: 41.66%;}
.col-6-sm {width: 50%;}
.col-7-sm {width: 58.33%;}
.col-8-sm {width: 66.66%;}
.col-9-sm {width: 75%;}
.col-10-sm {width: 83.33%;}
.col-11-sm {width: 91.66%;}
.col-12-sm {width: 100%;}  

body {
  margin-top:35%;
}

.stickybanner {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
  
.res-img {
  max-width:100%;
  height:auto;
}

.gamecontainer {  
  position: relative;
  padding: 25px;
  margin: 25px;
  margin-top: 50px;
  border-color: lightseagreen;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  }

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 250%;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 125%;
  font-weight: bold;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 150%;
}

#start, #stop, #next {
  border-radius: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: white;
  background-color: lightseagreen;
  padding:15px;
  margin-top: 20px;
  margin-left: 20px;
  user-select: none;
  text-align: center;
  width: 250px;
  height: 50px;
  }

#time {
  border-radius: 0;
  border: 1;
  border-color: lightseagreen;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  text-shadow: 0 0 3px black; 
  font-size: 175%;
  font-weight: bold;
  margin-top: 25px;
  user-select: none;
  text-align: center;
  width: 100px;
  height: 50px;
  position: absolute;
  float: left;
  }

.timer-container {
  position: relative;
  margin-left: 25px;
  margin-right: 100px;
  text-align: left;
  color: white;
  }

.clock {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  float: right;
}

#clockimage {
  z-index: -1;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  float: left; 
}

.left {
  position: absolute;
  top: 8px;
  text-align: center;
}

#questions {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 150%;
}

#answers {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

.show {
  background-color: white;
}

.display-answer, #display-answer {
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 15px;
  margin-top: 20px;
}

#answerGif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#proceed, #rerun {
  border-radius: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: white;
  background-color: lightseagreen;
  padding:15px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
  user-select: none;
  text-align: center;
  position: inherit;
  width: 50%;
  height: 50px;
}

.scorecard {  
  position: relative;
  padding: 25px;
  margin: 25px;
  margin-top: 50px;
  border-color: lightseagreen;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  }
